/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
}

.container-fluid{
    max-width: 1520px;
}

.wrapper{
    background-color: #f3f3f3;
}

.container{
    max-width: 1200px;
}

.header-section{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header.png") , radial-gradient(at top right, #004584 0%, #0B1825 70%);
    border-radius: 0px 0px 50px 50px;
}

/* navbar  */

.navbar-brand img{
    width: 100px;
}

.navbar.navbar-expand-lg{
    padding-top: 26px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #EFEFEF;
    background-color: #FFFFFF14;
}

.navbar-light .navbar-nav .nav-link{
    color: #EFEFEF;
    
    font-weight: 600;
    border: none;
    border-radius: 100px;
    padding: 8px 20px;
}

.nav-link:focus{
    color: #EFEFEF !important;
}

.navbar-nav a:hover{
    color: #EFEFEF !important;
    background-color: #FFFFFF14;
}

.navbar-nav{
    gap: 20px;
    align-items: center;
    border: 1px solid #334155;
    border-radius: 50px;
    padding: 10px;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../icon/toggle-bar.svg) !important;
}

.navbar-light .navbar-toggler{
    border-color: #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.signup-btn a{
    text-decoration: none;
    
    font-weight: 600;
    color: #EFEFEF;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.login-btn a{
    text-decoration: none;
    color: #132431;
    font-weight: 600;
    background-color: #A6F46B;
    border-radius: 50px;
    padding: 14px 28px 14px 28px;
}

.login-btn a:hover{
    background-color: #132431;
    color: #A6F46B;
    box-shadow: 0px 0px 20px 0px rgba(45.000000000000014, 228, 202, 0.45);
}

.signup-flex{
    display: flex;
    gap: 50px;
}

/* hero section  */

.hero-section-heading{
    font-size: 72px;
    font-weight: 600;
    line-height: 1.3em;
    color: #EFEFEF;
}

.right-side-text{
    color: #132431;
    font-weight: 600;
    line-height: 1.6em;
    color: #FFFFFFBD;
    font-size: 18px;
}

.hero-section{
    margin-top: 100px;
    margin-bottom: 60px;
}

.hero-section-input .form-control{
    width: 450px;
    border-radius: 50px !important;
    background: #FFFFFF14 !important;
    padding: 22px 30px 22px 30px;
    border-color: #FFFFFF3D;
    color: #EFEFEF;
}

.hero-section-input .btn{
    color: #EFEFEF;
    font-weight: 600;
    margin-left: -130px;
    height: 50px;
    color: #132431;
    background-image: linear-gradient(270deg, #A6F46B 20%, #A6F46B 100%);
    border-radius: 50px;
    padding: 13px 30px 15px 30px;
}

.hero-section-input{
    display: flex;
    align-items: center;
}

.hero-section-input input::placeholder{
    color: #EFEFEF !important;
    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.transparent-img img{
    width: 65%;
    margin-top: -54px;
}

.index-header-section {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 50px;
}
.header-bottom{
    position: absolute;
    width: calc(100% + 6px);
    /* height: 200px; */
    left: -2px;
    bottom: -2px;
    z-index: 1000;
}
.header-bottom .arrow-bg {
    position: absolute;
    text-align: center;
    top: -40px;
    left: 45%;
    cursor: pointer;
}
.header-bottom .arrow-bg img {
    width: 150px;
    border-radius: 50%;
    transition: 0.6s all;
}
.header-bottom .arrow-bg i {
    position: absolute;
    font-size: 36px;
    left: 60px;
    text-align: center;
    top: 55px;
    transition: 0.6s all;
}
.header-bottom .arrow-bg img:hover {
    transform: rotate(360deg);
}
.header-bottom .arrow-bg i:hover {
    transform: rotate(90deg);
}

.main-content{
    background-color: #f3f3f3;
    margin-top: -3px;
    padding-bottom: 60px;
}

.section1-heading1{
    color: #132431;
    font-weight: 600;
    font-size: 24px;
    font-family: "Sora", sans-serif;
}

.section1-heading2{
    color: #1e293b;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.3em;
    /* font-family: "Sora", sans-serif; */
}

.section1-heading3{
    color: #0B182594;
    font-weight: 500;
}

.contact-btn a:hover{
    color: #132431 !important;
    background-color: #A6F46B;
    box-shadow: 0px 0px 20px 0px rgba(45.000000000000014, 228, 202, 0.45);
}

.card .title{
    margin-bottom: 20px;
    color: #132431;
    font-weight: 600;
    font-family: "Sora", sans-serif;
    line-height: 1.3em;
    font-size: 30px;
}

.card .description{
    color: #0B182594;
    font-weight: 500;
    line-height: 1.6em;
    margin-bottom: 50px;
}

.card-img1 img{
    width: 43px;
}

.card-img1{
    background-color: #0B1825;
    border-radius: 50px;
    padding: 19px 20px 20px 20px;
    height: 85px;
    width: 85px;
}

.learn-more a{
    text-decoration: none;
    font-weight: 600;
    color: #132431;
}

hr{
    margin-top: 5px;
    width: 120px;
    color: #132431;
}

.card{
    background-color: #F3F3F3;
    padding: 40px 40px 40px 40px;
    box-shadow: 0px 5px 20px 5px rgba(0, 69.00000000000016, 132, 0.08);
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 25px;
}

.learn-more-flex{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.learn-more svg{
    width: 15px;
    margin-left: -16px;
}

.learn-more{
    display: flex;
    align-items: baseline;
}
.secton2-tick-img {
    padding-left: 30px;
    transition: 0.4s all;
}
.secton2-tick-img:hover {
    padding-left: 0px;
    padding-right: 30px;
}

.card:hover .learn-more-flex svg,
.card:hover .learn-more-flex .learn-more a hr,
.card:hover .learn-more-flex .learn-more a{
    color: #A6F46B;
    fill: #A6F46B;
}

.card:hover .learn-more-flex .card-img1{
    border: 1px solid #A6F46B;
}

.card:hover.card .description,
.card:hover.card .title{
    color: #FFFFFFBD;
}

.card:hover{
    background: linear-gradient(90deg, rgba(0,31,50,1) 30%, rgba(0,59,109,1) 76%);
}

.section2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header.png") , radial-gradient(at top right, #004584 0%, #0B1825 70%);
    border-radius: 50px;
    margin-top: 50px;
}

.section2 .heading{
    color: #EFEFEF;
    font-weight: 600;
    font-size: 54px;
    padding-top: 100px;
    line-height: 1.3em;
    font-family: "Sora", sans-serif;
    text-align: center;
}

.card-two-description{
    color: #FFFFFFBD;
    font-weight: 500;
    line-height: 1.6em;
}

.card-two{
    background-color: #FFFFFF14 !important;
    border: 1px solid #FFFFFF1C !important;
    height: 344px;
}

.card-two .title{
    padding-bottom: 20px;
    color: #EFEFEF;
}

.card-two:hover{
    border: 1px solid #A6F46B !important;
    background: #FFFFFF14 !important;
}

.learn-more .section2-learnmore{
    color: #f3f3f3;
    padding-left: 10px;
    font-weight: 600;
}

.learn-more:hover svg,
.learn-more.section2-hr:hover hr,
.learn-more .section2-learnmore:hover{
    color: #A6F46B !important;
    fill: #A6F46B;
}

.learn-more.section2-hr hr{
    color: #B6B6B69E !important;
    font-weight: 600;
    border-width: 2px;
}

.section2-hr{
    padding-top: 20px;
    padding-bottom: 70px;
}

.tick-text img{
    width: 18px;
    margin-right: 10px;
}

.tick-text{
    color: #FFFFFFBD;
    line-height: 1.6em;
    font-style: italic;
    padding-bottom: 1.6em;
}

.footer-img img{
    width: 180px;
}

.footer-section{
    border-radius: 50px 50px 0px 0px;
    border-top: 1px solid #FFFFFF1C;
    margin-top: 60px;
    padding-top: 30px;
}

.quick-link{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3em;
    font-family: "Sora", sans-serif;
    color: #EFEFEF;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-link .link1 a{
    color: #FFFFFFBD;
    font-weight: 500;
    line-height: 1.6em;
    text-decoration: none;
}

.social-link .link1 a:hover{
    color: #A6F46B;
}

.link1 img{
    width: 15px;
    margin-right: 15px;
}

.social-icons .facebook i{
    background-color: #132431;
    padding: 0.8em;
    border: 1px solid #FFFFFF3D;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    text-align: center;
}

.social-icons .facebook i:hover{
    background-color: #A6F46B;
    color: #132431 !important;
    border-color: 1px solid #A6F46B;
}

.social-icons{
    display: flex;
    gap: 10px;
}


.copyright{
    color: #FFFFFF9E;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    padding-bottom: 60px;
    text-align: center;
}

/* how-it-works page  */

.how-it-works{
    padding-bottom: 70px;
}

.hero-section .about-us{
    padding-bottom: 250px;
}

.how-it-work-img1 img{
    border-radius: 30px;
}

.section2 .how-it-work{
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.how-it-work .login-btn.contact-btn img{
    width: 16px;
}

.section2.how-itwork{
    margin-bottom: 80px;
}

/* contact us  */

.map iframe{
    width: 100%;
    height: 350px;
    border-radius: 50px;
}

.form-heading{
    font-size: 40px;
    color: #1e293b;
    line-height: 1.3em;
    font-weight: 600;   
}

.contactus-form .form-label{
    color: rgba( 0, 0, 0, 0.85 );
    line-height: 19px;
    font-weight: bold;
}


.contactus-form .form-label span{
    font-weight: 400;
    color: #d63637;
}

.contactus-form input{
    background-color: #F3F3F3;
    border-color: #C8CFD3;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
}

.contactus-form .form-control:focus{
    color: #132431;
    border: 1px solid #A6F46B;
    box-shadow: 0 0 0 1px var(--wpforms-button-background-color),0px 1px 2px rgba(0,0,0,0.15);
    outline: none;
    background-color: #F3F3F3;
    font-weight: 500;
}

.contact-us-btn{
    color: #132431;
    background-color: #A6F46B;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}

.contact-us-btn:hover{
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    color: #132431;
    background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),#A6F46B;
    border: none;
}

.contact-us-img{
    position: relative;
    opacity: 0.8;
}

.contact-us-img p{
    position: absolute;
    bottom: 40px;
    color: #EFEFEF;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 20px;
    padding: 30px;
}

.contact-us-img img{
    border-radius: 20px;
}

.form-section{
    background-color: #F3F3F3;
    padding: 40px 20px 20px 20px;
    box-shadow: 0px 10px 30px 10px rgba(0, 69.00000000000016, 132, 0.08);
    border-radius: 30px;
}

.contact-page{
    background-color: transparent;
    margin-top: -130px;
}

.contact-social-icon .social-icon1 i{
    background-color: #0B1825;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.contact-social-icon .heading{
    color: #132431;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;
}

.contact-social-icon .title{
    color: #06B59C;
    font-weight: 500;
    line-height: 1.6em;
}

.contact-social-icon-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-social-icon{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 30px;
}

.contact-social-icon .social-icon1 i:hover{
    color: #A6F46B !important;
    cursor: pointer;
}

/* faq page  */

.faq-heading{
    color: #1e293b;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.3em;
    font-family: "Sora", sans-serif;
    text-align: center;
    padding-top: 50px;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }

  .accordion-item {
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .accordion-item-header {
    padding: 20px 0px 30px 0px;
    min-height: 3.5rem;
    line-height: 1.4em;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #132431;
    font-size: 19px;
  }

  .accordion-item-header::after {
    content: "\002B";
    font-size: 20px;
    position: absolute;
    right: 1rem;
    border: 1px solid #132431;
    border-radius: 100px;
    width: 23px;
    height: 23px;
    text-align: center;
    display: flex;
    line-height: 0.9;
    justify-content: center;
    font-weight: normal;
  }

  .accordion-item-header.active::after {
    content: "\2212";
  }

  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-item-body-content {
    padding: 0px 50px 15px 0px;
    font-weight: 500;
    color: #0B182594;
    line-height: 1.6em;

  }

  .accordion-item{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 0px;
  }

  .hero-section-input .fas.fa-search{
    color: #132431;
    background-color: #A6F46B;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: -64px;
  }

  .hero-section-input .form-control:focus,
  .hero-section-input .form-control:hover{
    border: 1px solid #A6F46B;
  }

  /* about us  */

 .about-us-section2 .heading{
    padding-bottom: 20px;
    color: #EFEFEF;
    font-weight: 600;
    font-family: "Sora", sans-serif;
    line-height: 1.3em;
    font-size: 30px;
 }

 .about-us-section2 .right-section{
    background-image: url(../images/header.png), radial-gradient(at top right, #004584 0%, #0B1825 70%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    position: relative;
    border-radius: 30px;
 }

 .cup-icon i{
    font-size: 30px;
    background-color: #FFFFFF14;
    border: 1px solid #FFFFFF1C;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F3F3;
 }

 .about-us-flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 30px;
 }

 .card .description.about-us{
    padding-bottom: 60px;
 }

 .circle-img{
    position: absolute;
    top: 0;
    left: -80px;
 }
 
 .about-us-section2 .right-section:hover .cup-icon i{
    border: 1px solid #A6F46B;
 }
 
 .about-us-section2 .right-section:hover .learn-more svg,
 .about-us-section2 .right-section:hover .learn-more a,
 .about-us-section2 .right-section:hover .cup-icon i {
    color: #A6F46B;
    fill: #A6F46B;
 }


 .section2-border {
    height: 1px;
    width: 100%;
    background: #FFFFFF1C;
    margin-bottom: 60px;
}
 .footer-bottom-border {
    margin-top: 100px;
    height: 1px;
    width: 100%;
    background: #FFFFFF1C;
}

.close-mb-sidebar {
    display: none;
}

/* eupayment page  */


.contact-social-icon-flex img{
    width: 100px;
}

.eupayment .heading{
    color: #FFFFFFBD;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 56px;
}

.eupayment .title{
    color: #FFFFFFBD;
    font-weight: normal;
}

.eupayment-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #635bff;
    border-radius: 50px;
    padding: 15px 32px 17px 32px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.eupayment-btn a:hover{
    background-color: #635bff;
    color: #fff;
}

.eupayment-btn img{
    width: 12px;
    margin-right: 6px;
}

.eupayment-btn.paypal a{
    background-color: #032E82 !important;
}

.contact-social-icon-flex.eupayment .heading{
    font-size: 30px !important;
    font-family: "Sora", sans-serif;
}

.contact-social-icon.eupayment{
    padding-bottom: 20px;
}
/* image Gallery section */

.image-gallery-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 25px 0px 50px;
}
.image-gallery-section .image-item {
    width: calc(25% - 10px);
    flex: 0 0 auto;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.image-gallery-section .image-item img {
    max-width: 150px;
}
.image-gallery-section .image-item .title {
    padding: 10px;
    border-radius: 0 0 2px 2px;
    color: #fff;
    border: 1px solid #D1D5DB;
    border-top: none;
    font-size: 14px;
}
.fslightbox-source {
    width: 100% !important;
    max-width: 550px !important;
    height: 300px !important;
    max-height: 100% !important;
}


@media screen and (max-width: 990px) {
    .signup-flex{
        display: none;
    }
    .navbar .navbar-toggler {
        border: 0px;
        color: #FFF;
    }
    .navbar .collapse:not(.show) {
        display: block;
    }
    .navbar .collapse:not(.show) .navbar-nav {
        left: -440px;
    }

    .close-mb-sidebar {
        display: block;
        position: absolute;
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        top: 12px;
        right: 20px;
        opacity: 0.6;
        cursor: pointer;
    }
    .close-mb-sidebar:hover {
        opacity: 1;
    }
    .navbar-nav {
        position: fixed;
        width: 330px;
        background-color: #0B1825;
        height: 100vh;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        transition: 0.6s all;
        padding-top: 80px;
        gap: 0px;
    }
    .navbar-nav .nav-link {
        width: 100%;
        padding: 15px 20px 17px;
        margin: 10px;
    }
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: 0px;
    }
    .hero-section {
        text-align: center;
    }
    .card-two-description br,
    .section1-heading2  br,
    .hero-section br {
        display: none;
    }
    .hero-section {
        margin: 0px;
    }
    .hero-section-heading {
        font-size: 44px;
        padding: 0px 12px;
    }
    .index-header-section .hero-section-input {
        flex-direction: column;
        gap: 12px;
    }
    .index-header-section .hero-section-input .btn,
    .index-header-section .hero-section-input .form-control {
        width: 100%;
        margin: 0px;
    }
    .transparent-img img {
        margin: 0px;
    }
    .header-bottom .arrow-bg {
        top: -95px;
        left: 39%;
    }
    .header-bottom .arrow-bg img {
        width: 116px;
    }
    .header-bottom .arrow-bg i {
        font-size: 27px;
        left: 47px;
        top: 42px;
    }
    .section1-heading1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .section1-heading2 {
        font-size: 26px;
    }
    .pt-5, .py-5 {
        padding-top: 30px !important;
    }
    .main-content,
    .pb-5, .py-5 {
        padding-bottom: 30px !important;
    }
    .card .title {
        font-size: 21px;
    }
    .section2 .heading {
        font-size: 26px;
    }
    .card-two {
        min-height: 260px;
        height: auto;
    }
    .secton2-tick-img {
        display: none;
    }
    .footer-section .card-two-description {
        max-width: 280px;
        font-size: 14px;
    }
    .footer-section .quick-link {
        font-size: 20px;
        margin: 20px 0px;
        padding: 10px 0px;
    }
    .about-us-section2 .pe-5 {
        padding-right: 12px !important;
    }
    .section2-hr {
        padding: 12px 0px;
    }
    .hero-section-input,
    .hero-section-input .form-control {
        width: 100%;
    }
    .contact-page {
        margin: 0px;
    }
    .contact-page .container {
        padding: 0px;
    }
    .contact-page .contact-us-img {
        margin-top: 20px;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .contact-page .contact-us-img p {
        font-size: 16px;
        bottom: 0px;
        padding: 0px 10px;
    }
    .contact-social-icon {
        flex-direction: column;
        gap: 20px;
    }
    
    .eupayment .heading{
        font-size: 26px;
    }
    .contact-social-icon-flex.eupayment .heading {
        font-size: 20px !important;
    }
    .eupayment .title,
    .eupayment .eupayment-btn {
       padding: 5px 0px !important; 
    }
    .image-gallery-section .image-item {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 500px) {
    .navbar-nav {
        width: 100%;
    }
    .navbar .collapse:not(.show) .navbar-nav {
        left: -100%;
    }
}